<section class="container card card-accent-primary">
  <header>
    <h2>{{film.title}} ({{film.year}})</h2>
  </header>
  <article class="row">
    <img class="col-sm-3" src="{{film.urlPoster}}" alt="{{film.title}}">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          Rating: {{film.rating}}
        </div>
        <div class="col-sm-8">
          <app-selected-films-buttons [film]="film" [showRemove]="isOwnTop"></app-selected-films-buttons>
        </div>
      </div>
      <div class="row">
        <b>Genres:</b>
        <span *ngFor="let genre of film?.genres; let last = last">{{genre}}{{!last ? ',' : '.'}}</span>
      </div>
      <div class="row">
        <b>Countries:</b>
        <span *ngFor="let country of film?.countries; let last = last">{{country}}{{!last ? ',' : '.'}}</span>
      </div>
      <div class="row">
        <b>Directors:</b>
        @for (director of (film.directors); track director; let last = $last) {
          @if (director?.id) {
            <a [href]="directorExtLink + director?.id"> {{director?.name}}{{!last ? ',' : '.'}} </a>
          } @else {
            <span> {{director?.name}}{{!last ? ',' : '.'}} </span>
          }
        }
      </div>
      <div class="row">
        <b>Trailers:</b>
        @for (trailer of (trailersObs | async); track trailer; let last = $last) {
          <app-trailer [trailer]="trailer" [title]="film.title"></app-trailer>
        }
      </div>
      <!-- <video>
        <source src="URL">
      </video> -->
    </div>
  </article>
</section>