<ul class="nav nav-tabs">
  <li class="nav-item" >
    <a class="nav-link" routerLinkActive="active" routerLink="/rating">Coming Soon</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/decades">Decades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/selected-top">Own Top</a>
  </li>
</ul>
