<div class="container">
    <div class="row">
      <div class="col align-self-center">
        @if (!isPrefered && showButtons) {
          <button class="btn btn-primary" (click)="addToPreferred()">Preferred</button>
        }
        @if (isPrefered && showButtons && showRemove) {
          <button class="btn btn-danger" (click)="removeFromPreferred()">Remove</button>
        }
      </div>
      <div class="col align-self-center">
        @if (isPrefered) {
          <fa-icon [icon]="faThumbsUp" class="fa-2x"></fa-icon>
        }
      </div>
    </div>
  </div>
