<div class="modal-header">
  @if (title) {
    <h4 class="modal-title">
    {{title}}
    </h4>
  }
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
      <video controls autoplay class="col-12">
        <source src="{{videoURL}}">
      </video>
  </div>
</div>
